*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    --brand-color: #2196F3;
    --weight-color: #FFFFFF;
    --main-text-color: #212121;
    --gray-color: #757575;
    --background-brand-color: #2F303A;
    --portfolio-border-color: #EEEEEE;
    --header-border-color: #ECECEC;
    --we-team-color: #F5F4FA;
    }

body {
    font-family: "Roboto", sans-serif;
}

.container {
    width: 480px;
    margin: 0 auto;
    padding-left: 215px;
  }

.logo-span {
    font-family: "Raleway", sans-serif;
    color: var(--main-text-color);
}

.header-logo {
    font-family: "Raleway", sans-serif;
    color: var(--brand-color);
    font-size: 26px;
    font-weight: 700;
    text-indent: 215px;
}

.logo {
    font-family: "Raleway", sans-serif;
    color: var(--brand-color);
    font-size: 26px;
    font-weight: 700;
    text-indent: 215px;
}

.nav-page {
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 14px;
}

/* .nav-page:active {
    color: #2196F3;
} */

.nav-page:focus,
.nav-page:hover {
    color: var(--brand-color);
}

.service {
    background-color: var(--brand-color);
    color: var(--weight-color);
    font-size: 16px;
    font-weight: 700;
    height: 50px;
    width: 216px;
    margin-top: 30px;
}

.hero {
    background-color: var(--background-brand-color);
    height: 600px;
    width: 1600px;
    margin-top: 80px;
    margin-bottom: 94px;
    text-align: center;
}

h1 {
    color: var(--weight-color);
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    width: 696px;
    transform: uppercase; 
}

.footer {
    background-color: var(--background-brand-color);
    width: 1600px;
    height: 252px;
    text-indent: 215px;
    margin-top: 94px;
}

.logo-basement {
    font-family: "Raleway", sans-serif;
    color: var(--weight-color);
    font-size: 26px;
    font-weight: 700;
    text-transform: capitalize
}

.tel {
    color: var(--gray-color);
}

.filters {
    color: var(--main-text-color);
    background-color: var(--we-team-color);
    height: 38px;
    size: 16px;
    font-weight: 500;
    line-height: 26px;
}

/* .filters:active {
    color: #FFFFFF;
    background-color: #2196F3;
} */

.filters:focus,
.filters:hover {
    color: var(--weight-color);
    background-color: var(--brand-color);
}

.advantages-text {
    color: var(--gray-color);
    font-size: 14px;
    font-weight: 400;
    width: 270px;
    height: 98px;
    margin-top: 10px;
}

.header-link {
    color: var(--gray-color);
    font-size: 14px;
    font-weight: 500;
}

/* .header-link:active {
    color: #2196F3;
} */

.header-link:focus,
.header-link:hover {
    color: var(--brand-color);
}

.advantages-subtitle {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--main-text-color);
}

h2 {
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: var(--main-text-color);
}

.name {
    font-size: 16px;
    font-weight: 500;
    color: var(--main-text-color);
}

.team {
    color: var(--gray-color);
    font-size: 16px;
    font-weight: 400;
}

.base-ment {
    color: var(--weight-color);
    font-size: 14px;
    font-weight: 400;
}

.header {
    height: 80px;
    width: 1600;
    border: 1px solid var(--header-border-color);
}

.studio {
    color: var(--brand-color);
    font-size: 14px;
    font-weight: 500;
}

button {
    border: none;
    border-radius: 4px;
}

ul {
    list-style-type: none;
}

.we-team-list {
    width: 1600px;
    height: 648px;
}

.base-ment-list {
    color: rgba(117, 117, 117, 4);
    font-size: 14px;
    font-weight: 400;
}

.center-button {
    display: flex;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 94px;
}

.portfolio-list {
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 14px;
}

a {
    text-decoration: none;
}

  .advantages-list {
    width: 1170px;
    height: 98px;
    display: flex;
  }

  .works {
    width: 1170px;
    height: 386px;
    margin-top: 94px;
  }

  .works-list {
    margin-top: 50px;
    display: flex;
  }

  .we-team-item,
  .advantages-item,
  .works-item {
    margin-left: 30px;
  }

  .we-team-list {
    margin-top: 50px;
    display: flex;
  }

  .address-item {
    margin-bottom: 9px;
  }

  .address {
    margin-bottom: 94px;
  }

  .we-teams {
    text-align: center;
    width: 1600px;
    height: 648px;
    background-color: var(--we-team-color);
    margin-bottom: 30px;
    margin-top: 94px;
  }

  .header {
    display: flex;
  }

  .we-team-img {
    width: 260px;
  }

  .advantage-list {
    width: 1170px;
    height: 98px;
    display: flex;
    border: 1px solid var(--portfolio-border-color);
  }

  .advantage {
    border: 1px solid var(--portfolio-border-color);
  }

  .project {
    margin-left: 30px;
  }